
<%- include('partials/header'); -%>    
<h1>Contact Details</h1>
<p><%= contactText %></p>
<i class="social-icon fa-solid fa-2x fa-envelope"></i>
<a  href="mailto:anishaaa1444@gmail.com">Send mail</a><br>
<i class="social-icon fa-brands fa-2x fa-github"></i>
<a  href="https://github.com/AnishaGhosh-14">some of my projects</a><br>
<i class="social-icon fa-brands fa-2x fa-linkedin"></i>
<a  href="https://www.linkedin.com/in/anisha-ghosh-9704591b9/">connect with me</a><br>
<i class="social-icon fa-brands fa-2x fa-instagram"></i>
<a  href="https://www.instagram.com/aniiishaa._/">Follow me</a><br>


<%- include('partials/footer'); -%>   